.paginationBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 80px;
}

.pages {
  display: flex;
  gap: 8px;
}

.pageButton {
  transition:
    color var(--transition),
    background-color var(--transition);
  border-radius: 16px;
  background-color: #ebf1fa;
  padding: 12px;
  width: 53px;
  color: var(--colorDefault);
  font-weight: var(--fontWeightDefault);
  font-size: var(--textMedium);
  line-height: var(--lineHeightSmall);
  text-align: center;

  &:hover,
  &:focus {
    background-color: var(--colorNavLinkHover);
    color: var(--bgAccentColor);
  }

  &:active,
  &:disabled {
    background-color: var(--colorAccent);
    color: var(--bgAccentColor);
  }

  &:disabled {
    cursor: default;
  }
}

.dots {
  border-radius: 16px;
  padding: 12px;
  width: 53px;
  font-weight: var(--fontWeightDefault);
  font-size: var(--textMedium);
  line-height: var(--lineHeightSmall);
  text-align: center;
}
