.panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navButton {
  display: flex;
  align-items: center;
  gap: var(--spacingMd);
  width: min-content;
  font-size: var(--textMedium);
  line-height: var(--lineHeightSmall);
  white-space: nowrap;
}

.icon {
  aspect-ratio: 1;
  width: 16px;
}
