.textbutton {
  transition: var(--transition);
  background-color: transparent;
  color: var(--colorAccent);
  font-weight: var(--fontWeightBold);
  font-size: var(--textSmall);
  line-height: var(--lineHeightDefault);
}

.textbutton:hover {
  color: var(--colorNavLinkHover);
}
