.box {
    padding: calc(2 * var(--size));
    border-radius: calc(1 * var(--size));
    box-shadow: var(--shadow);
    background-color: var(--neutral-100);

    display: flex;
    flex-direction: column;
    gap: calc(1 * var(--size));
    
    position: relative;

    .button {
        display: none;
    }

    &:hover {
        box-shadow: var(--shadow-hover);

        .button {
            display: flex;

            position: absolute;
            top: calc(2 * var(--size));
            right: calc(2 * var(--size));
    
            border: none;
            background-color: unset;
            padding: calc(.125 * var(--size)) 0;
            margin: 0;
    
            color: var(--neutral-400);
        }
    }


    .head {
        display: flex;
        flex-direction: column;
        gap: calc(.25 * var(--size));
        color: var(--neutral-800);

        .title {
            font: var(--font-lg-bold);
            max-width: calc(100% - 2.5 * (var(--size)));
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0;

        }

        .salaryRange {
            font: var(--font-lg-medium);
        }
    }

    .body {
        display: flex;
        flex-direction: column;
        gap: calc(1 * var(--size));

        .desc {
            display: flex;
            flex-direction: column;
            gap: calc(.5 * var(--size));

            .company {
                font: var(--font-sm-medium);
            }

            .city {
                font: var(--font-sm-medium);
            }
        }

        .fits {
            display: flex;
            flex-direction: column;
            gap: calc(.5 * var(--size));

            .fitsItem {
                display: flex;
                align-items: center;
                gap: calc(.5 * var(--size));

                font: var(--font-sm-medium);

                svg {
                    height: calc(.75 * var(--size));
                    aspect-ratio: 1;
                    color: var(--primary-500);
                }
            }
        }
    }
}