.cardLink {
  display: block;
  border-radius: 16px;
}

.cardLink:focus-visible {
  outline: var(--outline);
}

.card {
  position: relative;
  transition: box-shadow 0.2s;
  box-shadow: var(--boxShadowColor);
  border-radius: 16px;
  background-color: var(--bgAccentColor);
  padding: 32px;
}

.card:hover {
  box-shadow: var(--boxShadowColorHover);
}

.title,
.card p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.title {
  margin-bottom: 4px;
  width: 240px;
  color: var(--colorDefault);

  font-weight: var(--fontWeightBold);
  font-size: var(--textBig);
  line-height: var(--lineHeightBig);
}

.salary {
  margin-bottom: 16px;
  color: var(--colorDefault);

  font-weight: var(--fontWeightDefault);
  font-size: var(--textBig);
  line-height: var(--lineHeightBig);
}

.card p {
  color: var(--colorDefault);
  font-weight: var(--fontWeightDefault);
  font-size: var(--textSmall);
  line-height: var(--lineHeightDefault);
}

.company {
  margin-bottom: 8px;
}

.city {
  margin-bottom: 16px;
}

.experience {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.iconExperience {
  width: 12px;
  height: 12px;
  pointer-events: none;
}

.button {
  position: absolute;
  top: 34px;
  right: 32px;
  opacity: 0;

  transition: 0.2s ease;
  background-color: transparent;

  padding: 0;
  color: var(--colorNavLink);
  font-size: 0;

  &:hover,
  &:focus {
    color: var(--colorNavLinkHover);
  }

  &:focus-visible {
    opacity: 1;
  }
}

.card:hover .button {
  opacity: 1;
}

.buttonIcon {
  width: 16px;
  height: 16px;
}

@media (max-width: 1279px) {
  .title {
    width: 181px;
  }
}
