.counter {
  width: 33px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
  background-color: var(--colorChip);
  color: var(--colorDefault);
  border-radius: var(--spacingS);
  display: grid;
  place-content: center;
  font-weight: var(--fontWeightDefault);
  font-size: var(--textSmall);
  line-height: var(--lineHeightDefault);
  user-select: none;
}