.container {
  display: flex;
  position: relative;
  column-gap: 16px;
  align-items: center;
  cursor: pointer;
  padding-right: 4px;
  height: 32px;
}

.title {
  cursor: pointer;
  font-weight: var(--fontWeightDefault);
  font-size: var(--textSmall);
  line-height: var(--lineHeightDefault);
  user-select: none;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-appearance: none;
  appearance: none;

  transition: var(--transition);
  margin: 0;
  border: 2px solid var(--colorNavLink);

  width: 16px;
  height: 16px;
}

.input[type='checkbox'] {
  border-radius: 4px;
}

.input[type='radio'] {
  border-radius: 50%;
}

.input:checked {
  border-color: var(--colorAccent);
}

.input:hover,
.input:focus {
  border-color: var(--colorNavLinkHover);
}

.input[type='radio']:checked::before {
  display: block;
  transition: var(--transition);
  border-radius: 50%;
  background-color: var(--colorAccent);
  width: 6px;
  height: 6px;
  content: '';
}

.input[type='radio']:checked:hover::before {
  background-color: var(--colorNavLinkHover);
}

.checkbox {
  display: none;

  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);

  transition: var(--transition);
  width: 8px;
  height: 6px;
  color: var(--colorAccent);
}

.input:checked ~ .checkbox {
  display: block;
}

.input:checked:hover ~ .checkbox {
  color: var(--colorNavLinkHover);
}

.checkbox:hover.checkbox {
  color: var(--colorNavLinkHover);
}
