.container {
  display: flex;
  justify-content: end;
}

.btn {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;

  font-weight: 700;
  font-size: var(--text-size-small);
  line-height: var(--line-height-medium);

  color: var(--accent-color);

  transition: color var(--transition-normal);
  padding: 0;
}

.btn:hover {
  color: var(--accent-color-light);
}

.backToSearchButton {
  margin-block: var(--size-32);

  svg {
    rotate: 180deg;
  }
}

.similarTitle {
  font-weight: 700;
  font-size: var(--size-24);
  line-height: var(--size-32);
  margin: 0;
  padding-top: var(--size-32);
}