.wrapper {
  position: relative;
  padding-top: 48px;
  padding-bottom: 32px;
}

.list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.resetButton {
  position: absolute;
  right: 0;
  bottom: 0;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  transition: var(--transition);
  color: var(--primary-500);
}

.briefCase {
  padding-inline: 24px;
  padding-block: 8px;
  gap: 4px;
}

@media (hover: hover) {
  .resetButton:hover {
    color: var(--primary-400);
  }
}

@media (max-width: 1023px) {
  .wrapper {
    padding-top: 32px;
    padding-bottom: 24px;
  }
  .list {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}

@media (max-width: 767px) {
  .wrapper {
    padding-top: 24px;
    padding-bottom: 16px;
  }
  .list {
    display: flex;
    gap: 20px;
  }

  .list > li:has(div[data-active="true"]) {
    display: block !important;
  }

  .list:has(div[data-active="true"]) > li:has(div[data-active="false"]) {
    display: none;
  }

  .resetButton {
    bottom: -5px;
  }
}
