.button {
  display: flex;
  align-items: center;
  gap: var(--spacingMd);
  transition: var(--transition);
  border: 2px var(--colorAccent) solid;
  border-radius: var(--border-radius);
  background-color: transparent;
  padding-inline: var(--spacingAvg);
  height: 52px;
  color: var(--colorAccent);
  font-weight: 700;
  font-size: var(--textMedium);
  line-height: var(--lineHeightNav);

  &:hover,
  &:focus {
    background-color: var(--colorAccentHover);
  }

  svg {
    padding: 2px;
  }
}

.filled {
  border: none;
  background-color: var(--colorAccent);
  color: var(--bgAccentColor);
  &:hover,
  &:focus {
    background-color: var(--colorNavLinkHover);
  }
}

.icon {
  aspect-ratio: 1;
  width: 20px;
}
