.title {
  margin-bottom: 32px;

  font-weight: var(--fontWeightBold);
  font-size: var(--title);
  line-height: 1.33333;
  color: var(--colorDefault);
}

.vacancyBlockList {
  display: grid;
  grid-template-columns: repeat(3, 352px);
  gap: 32px;
}

@media (max-width: 1279px) {
  .vacancyBlockList {
    grid-template-columns: repeat(3, 293px);
  }
}
