
.box {
    padding-block: calc(2 * var(--size));

    display: flex;
    flex-direction: column;
    gap: calc(2 * var(--size));
    
    .title {
        font: var(--font-2xl-bold);
    }
    
    .wrapper {
        --columns: 3;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit,
        minmax(max(calc(100% / (var(--columns) + 1)), min( calc( (100% - 80px - 64px) / 3 ), 100%)), 1fr));
        gap: calc(2 * var(--size));   
    }
}