.vacancyList {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px 0;
}

.empty {
  display: grid;
  place-content: center;
  min-height: calc(100dvh - 200px - 80px);
  padding: 32px 80px;
  color: var(--colorGray);
  font-weight: var(--fontWeightDefault);
  font-size: var(--textBig);
  line-height: var(--lineHeightBig);
  text-align: center;
}
