.header {
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: var(--boxShadowColor);
  background-color: var(--bgAccentColor);
  padding: 24px 0;
}

.headerWrapper {
  display: flex;
  align-items: center;
  gap: 220px;
}

.logoLink {
  font-size: 0;

  &:focus-visible {
    outline: var(--outline);
  }
}

.logoIcon {
  width: 170px;
  height: 24px;
}

.navList {
  display: flex;
  column-gap: 72px;
  align-items: center;
}

.navLink {
  transition: color 0.2s;
  cursor: pointer;
  color: var(--colorNavLink);
  font-weight: var(--fontWeightBold);
  font-size: var(--textMedium);
  line-height: var(--lineHeightNav);

  &:focus-visible {
    outline: var(--outline);
  }
}

.navLink:not(.active):hover {
  color: var(--colorNavLinkHover);
}

.navLink.active {
  cursor: default;
  color: var(--colorAccent);
}

@media (max-width: 1279px) {
  .headerWrapper {
    gap: 130px;
  }
}
