.footer {

    padding-block: calc(2 * var(--size));

    .text {
        color: var(--neutral-600);
        font: var(--font-md-medium);
        translate: 0 -1px;

        .link {
            text-decoration: underline;
            text-underline-offset: .2em;
        }
    }
}