.footer {
  padding: 32px 0;
  color: var(--colorGray);

  font-size: var(--textMedium);
  line-height: var(--lineHeightSmall);
}

.footer a {
  text-decoration: underline;

  &:focus-visible {
    outline: var(--outline);
  }
}
