.form {
  width: 352px;
  padding-inline: 24px;
  display: flex;
  align-items: center;
  column-gap: 16px;
  font-weight: var(--fontWeightBold);
  font-size: var(--textSmall);
  line-height: var(--lineHeightDefault);
  color: var(--colorDefault);
  background-color: var(--bgAccentColor);
  box-shadow: var(--boxShadowColor);
  border-radius: 16px;
  transition: var(--transition);
  position: relative;

  @media (max-width: 1279px) {
      width: 293px;
  }

  &:hover {
    background-color: rgba(235, 241, 250, 1);
  }

  &:focus-within {
    background-color: rgba(235, 241, 250, 1);
  }

  &:has(.showFilters) {
    border-radius: 16px 16px 0 0;
    background-color: var(--colorAccentHover);
  }
}

.icons {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.input {
  height: 48px;
  width: 80%;
  border: none;
  outline: none;
  background-color: transparent;
  text-transform: capitalize;
}

.input::placeholder {
  font-weight: var(--fontWeightBold);
  font-size: var(--textSmall);
  line-height: var(--lineHeightDefault);
  color: var(--colorGray);
}

.input:not(:placeholder-shown) ~ .crossButton {
  display: block;
}

.crossButton {
  width: 12px;
  height: 12px;
  background-color: transparent;
  margin-left: auto;
  display: none;
  fill: var(--colorGray);

  transition: color var(--transition);
}

.crossButton:hover {
  fill: var(--colorAccent);
  color: var(--colorAccent);
}

.crossIcon {
  width: 12px;
  height: 12px;
}


.optionsList {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: var(--bgAccentColor);
  max-height: calc(100dvh - 200px);
  overflow: hidden auto;
  scrollbar-width: thin;
  padding-block: var(--spacingS);
  display: flex;
  flex-direction: column;
  gap: var(--spacingXS);
  box-shadow: var(--boxShadowColor);
  border-radius: 0 0 16px 16px;

  .optionsItem {
    padding-inline: var(--spacingAvg);
  }
}