.modal {
  position: absolute;
  width: 100%;
  top: 48px;
  left: 0;
  z-index: 5;
  background-color: var(--neutral-100);
  max-height: calc(100vh - 200px);
  overflow: auto;
  scrollbar-gutter: stable;
  box-shadow: var(--shadow);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  overscroll-behavior: none;
}

.modal ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: var(--black);
  max-height: 596px;
}
