:root {
  /* font-weight  */
  --fontWeightDefault: 500;
  --fontWeightBold: 700;

  /* font-family  */
  --fontFamilyDefault: 'Montserrat';

  /* colors */
  --colorDefault: #202020;
  --colorAccent: #5c89ce;
  --colorAccentHover: #ebf1fa;
  --colorNavLinkHover: #8caee0;
  --colorNavLink: #c5c5c5;
  --colorGray: #747474;
  --colorSkeleton: #e1e1e1;
  --colorChip: #cfddf2;
  --bgColor: #f6f6f6;
  --bgAccentColor: #f9f9f9;
  --boxShadowColor: 0 3px 15px 0 rgba(0, 0, 0, 0.03);
  --boxShadowColorHover: 4px 4px 15px 0 rgba(0, 0, 0, 0.08);

  /* font-size */
  --title: 24px;
  --textBig: 16px;
  --textMedium: 14px;
  --textSmall: 12px;
  --textSubtitle: 20px;

  /* spacings */
  --spacingBig: 32px;
  --spacingMd: 16px;
  --spacingAvg: 24px;
  --spacingS: 8px;
  --spacingXS: 4px;

  /* line-height */
  --lineHeightNav: 1.42857;
  --lineHeightDefault: 1.33333;
  --lineHeightBig: 1.5;
  --lineHeightSmall: 1.14286;
  --lineHeightSubtitle: 1.4;

  /* transitions */
  --transition: 0.2s;

  /* sizes */
  --employer-card-width: 352px;
  --border-radius: 16px;
  --headerHeight: 0;
  --employerLogoHeight: 60px;

  /* outline */
  --outline: 1px dotted var(--colorDefault);
}
