:root {
    --primary-400: #8CAEE0;
    --primary-500: #5C89CE;

    --neutral-100: #F9F9F9;
    --neutral-200: #F6F6F6;
    --neutral-400: #C5C5C5;
    --neutral-600: #747474;
    --neutral-800: #202020;

    --min-width: 1024px;

    --size: 16px;

    --size-radius: 5px;

    --shadow: 0 3px 15px #00000008;
    --shadow-hover: 4px 4px 15px #00000014;

    --font-family: Montserrat, sans-serif;

    --font-2xl-bold: 700 24px/32px var(--font-family);
    --font-lg-bold: 700 16px/24px var(--font-family);
    --font-lg-medium: 500 16px/24px var(--font-family);
    --font-md: 500 14px/16px var(--font-family);
    --font-md-medium: 500 14px/20px var(--font-family);
    --font-md-bold: 700 14px/20px var(--font-family);
    --font-sm-bold: 700 12px/16px var(--font-family);
    --font-sm-medium: 500 12px/16px var(--font-family);

}