.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 50vh; */
  flex-grow: 1;
}

.feedback {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--neutral-600);
  text-align: center;
}

@media (max-width: 767px) {
  .feedback {
    font-size: 14px;
    line-height: 20px;
  }
}
